## IEMS 394 - Biofuels Optimisation Model

Running list of assumptions:
- Some county name recurr within the set of states we have selected. Such counties have had their respective 2-letter state code appended to their name. They are enumerated below.
    1. Orange - CA,TX 
    2. Cass - MN, TX
    3. Lake - CA, MN
    4. Trinty - CA, TX
    5. Houston - MN, TX
    6. Polk - MN,TX
    7. Brown - MN,TX
    8. Clay - MN, TX
    9. Jackson - TX,MN
    10. Washington - MN, TX
    11. Martin - MN,TX
    
- future proofing changes:
    - Decision variable `n` assumes that vehicle types use a single type of fuel (it's not written in at all)

In [162]:
from pulp import *
from itertools import product
import numpy as np
import pandas as pd
from scipy.optimize import minimize
from tqdm import tqdm

#### Sets

In [93]:
%%time
#import files from github

V = pd.read_csv('https://raw.githubusercontent.com/saif1457/iems394/master/data/V.csv') #vehicle types
F = pd.read_csv('https://raw.githubusercontent.com/saif1457/iems394/master/data/F.csv') #fuel types
E = pd.read_csv('https://raw.githubusercontent.com/saif1457/iems394/master/data/E.csv') #driving env
R = pd.read_csv('https://raw.githubusercontent.com/saif1457/iems394/master/data/R.csv') #counties
M = pd.read_csv('https://raw.githubusercontent.com/saif1457/iems394/master/data/M.csv') #charging stations
S = pd.read_csv('https://raw.githubusercontent.com/saif1457/iems394/master/data/S.csv') #states

F['fuel_type'] = F['fuel_type'].apply(lambda x: x.replace('electricity','Electricity'))

CPU times: user 86 ms, sys: 13.3 ms, total: 99.2 ms
Wall time: 2.17 s

In [252]:
VEHICLE_TYPES = list(V['vehicle_type'])
FUEL_TYPES = list(F['fuel_type'])
DRIVING_ENV = list(E['driving_environment'])
COUNTIES = list(R['county'])
CHARGING_STATIONS = list(M['filling_stations'])
STATES = list(S['state'])

#### Parameters
Parameters describe objects statically, and is constant in a single simulation. Parameters are only changed to adjust model behaviour.

In [230]:
%%time
#EF(f,s): Emission factor for fuel type f in state s, in gallons/mile  
EF = pd.read_csv('https://raw.githubusercontent.com/saif1457/iems394/master/data/EF(f%2Cs).csv')
EF['fuel_type'] = EF['fuel_type'].apply(lambda x: x.replace('electricity','Electricity'))
#FE(v,f):Average fuel economy for vehicle type v using fuel f
FE = pd.read_csv('https://raw.githubusercontent.com/saif1457/iems394/master/data/FE(v%2Cf).csv')
FE['fuel_type'] = FE['fuel_type'].apply(lambda x: x.replace('electricity','Electricity'))
#C(f): Cost of fuel type f 
C = pd.read_csv('https://raw.githubusercontent.com/saif1457/iems394/master/data/C(F).csv')
#CC (v,s): Capital cost of vehicle type v in state s
CC = pd.read_csv('https://raw.githubusercontent.com/saif1457/iems394/master/data/CC(v%2Cs).csv') 
#CG: cost of fuel/gallon
CG = pd.read_csv('https://raw.githubusercontent.com/saif1457/iems394/master/data/CG(F).csv')
CG['fuel_type'] = CG['fuel_type'].apply(lambda x: x.replace('electricity','Electricity'))
#D: Emission decrease goals per year
D = 0.25
#W(s):Current yearly GHG emissions per state
W = pd.read_csv('https://raw.githubusercontent.com/saif1457/iems394/master/data/W(s).csv')
#TM (v, f, r): Total miles for vehicle v using fuel f in county r
TM = pd.read_csv('https://raw.githubusercontent.com/saif1457/iems394/master/data/TM(f%2Cs).csv')
# # TM.drop(['household_income_ID'],axis=1,inplace=True)
#N(r): Average income per county  
N = pd.read_csv('https://raw.githubusercontent.com/saif1457/iems394/master/data/N(r).csv')
# N.drop(['household_income_ID'],axis=1,inplace=True)
#B(r) county + state linking table
B = pd.read_csv('https://raw.githubusercontent.com/saif1457/iems394/master/data/B(r).csv')
#CF(v,f): Fuel consumption for vehicle type v using fuel f (1/fuel economy)
CF = FE
CF['fuel_economy'] = (1 / CF['fuel_economy'])

CPU times: user 196 ms, sys: 32.1 ms, total: 228 ms
Wall time: 3.49 s

In [4]:
v = V['vehicle_type']
f = F['fuel_type']
r = R['county']

#### Variables
Variables represent a model state and may change during simulation.

In [232]:
def variable_n():
    '''
    n(r,v,f) total optimal count of vehicle v using fuel type f in county r
    '''
    n = pd.DataFrame(list(product(r,v,f)), columns=['county', 'vehicle_type','fuel_type'])
    n['count'] = 0
    
    bev_elec = n[(n['vehicle_type']== 'BEV') & (n['fuel_type']== 'Electricity')]
    gas_e10 = n[(n['vehicle_type']== 'SIDI_ICE') & (n['fuel_type']== 'E10')]
    ffv_e85 = n[(n['vehicle_type']== 'FFV') & (n['fuel_type']== 'E85')]

    result = pd.concat([bev_elec,gas_e10,ffv_e85])
    result.sort_values(by=['county'],inplace=True)
    result.reset_index(drop=True, inplace=True)
    return result

In [233]:
def variable_fc():
    '''
    fc(r,v,f) Total fuel consumption by vehicle v using fuel type f in county r
    '''
    fc = pd.DataFrame(list(product(r,v,f)), columns=['county', 'vehicle_type','fuel_type'])
    fc['fuel_consumption'] = 0
    
    bev_elec = fc[(fc['vehicle_type']== 'BEV') & (fc['fuel_type']== 'Electricity')]
    gas_e10 = fc[(fc['vehicle_type']== 'SIDI_ICE') & (fc['fuel_type']== 'E10')]
    ffv_e85 = fc[(fc['vehicle_type']== 'FFV') & (fc['fuel_type']== 'E85')]

    result = pd.concat([bev_elec,gas_e10,ffv_e85])
    result.sort_values(by=['county'],inplace=True)
    result.reset_index(drop=True, inplace=True)
    return result

In [234]:
def variable_oc():
    '''
    oc(r,v,f) Operating cost per mile for vehicle v using fuel type f in county r 
    '''
    oc = pd.DataFrame(list(product(r,v,f)), columns=['county', 'vehicle_type','fuel_type'])
    oc['operating_cost'] = 0
    
    bev_elec = oc[(oc['vehicle_type']== 'BEV') & (oc['fuel_type']== 'Electricity')]
    gas_e10 = oc[(oc['vehicle_type']== 'SIDI_ICE') & (oc['fuel_type']== 'E10')]
    ffv_e85 = oc[(oc['vehicle_type']== 'FFV') & (oc['fuel_type']== 'E85')]

    result = pd.concat([bev_elec,gas_e10,ffv_e85])
    result.sort_values(by=['county'],inplace=True)
    result.reset_index(drop=True, inplace=True)
    return result

In [235]:
def variable_tac():
    '''
    tac(r,v,f) Total annual cost of vehicle v using fuel type f in county r 
    '''
    tac = pd.DataFrame(list(product(r,v,f)), columns=['county', 'vehicle_type','fuel_type'])
    tac['total_annual_vehicle_cost'] = 0
    
    bev_elec = tac[(tac['vehicle_type']== 'BEV') & (tac['fuel_type']== 'Electricity')]
    gas_e10 = tac[(tac['vehicle_type']== 'SIDI_ICE') & (tac['fuel_type']== 'E10')]
    ffv_e85 = tac[(tac['vehicle_type']== 'FFV') & (tac['fuel_type']== 'E85')]

    result = pd.concat([bev_elec,gas_e10,ffv_e85])
    result.sort_values(by=['county'],inplace=True)
    result.reset_index(drop=True, inplace=True)
    return result

In [236]:
def variable_ce():
    '''
    ce(r,v,f)  GHG emission per year of vehicle v using fuel type f in county r 
    '''
    ce = pd.DataFrame(list(product(r,v,f)), columns=['county', 'vehicle_type','fuel_type'])
    ce['emission_per_year'] = 0
    
    bev_elec = ce[(ce['vehicle_type']== 'BEV') & (ce['fuel_type']== 'Electricity')]
    gas_e10 = ce[(ce['vehicle_type']== 'SIDI_ICE') & (ce['fuel_type']== 'E10')]
    ffv_e85 = ce[(ce['vehicle_type']== 'FFV') & (ce['fuel_type']== 'E85')]

    result = pd.concat([bev_elec,gas_e10,ffv_e85])
    result.sort_values(by=['county'],inplace=True)
    result.reset_index(drop=True, inplace=True)
    return result

In [237]:
n = variable_n()
fc = variable_fc()
tac = variable_tac()
oc = variable_oc()
ce = variable_ce()

In [11]:
n1 = n.merge(B)
n2 = n1.merge(CG)
n3 = n2.merge(oc)
n4 = n3.merge(ce)
n5 = n4.merge(fc)
n6 = n5.merge(tac)
n6 = n6.sort_values(by=['county','vehicle_type'], ascending=True)
n6.reset_index(drop=True, inplace=True)
n6

,county,vehicle_type,fuel_type,count,state,fuel_cost_per_gal,operating_cost,emission_per_year,fuel_consumption,total_annual_vehicle_cost
0,Aitkin,BEV,Electricity,0,MN,2.484330,0,0,0,0
1,Aitkin,FFV,E85,0,MN,1.320000,0,0,0,0
2,Aitkin,SIDI_ICE,E10,0,MN,1.750000,0,0,0,0
3,Alameda,BEV,Electricity,0,CA,2.340349,0,0,0,0
4,Alameda,FFV,E85,0,CA,1.960000,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
1192,Zapata,FFV,E85,0,TX,1.110000,0,0,0,0
1193,Zapata,SIDI_ICE,E10,0,TX,1.310000,0,0,0,0
1194,Zavala,BEV,Electricity,0,TX,1.685889,0,0,0,0
1195,Zavala,FFV,E85,0,TX,1.110000,0,0,0,0
1196,Zavala,SIDI_ICE,E10,0,TX,1.310000,0,0,0,0

In [12]:
N_B = B.merge(N)
number_one = N_B.merge(TM, left_on=['household_income_ID','state'],right_on=['household_income_ID','state'])
number_one.drop(['household_income','household_income_ID'],axis=1,inplace=True)
n6 = n6.merge(number_one)
n6

,county,vehicle_type,fuel_type,count,state,fuel_cost_per_gal,operating_cost,emission_per_year,fuel_consumption,total_annual_vehicle_cost,median_household_income_2018,annual_miles_driven
0,Aitkin,BEV,Electricity,0,MN,2.484330,0,0,0,0,"$44,016",15583.95
1,Aitkin,FFV,E85,0,MN,1.320000,0,0,0,0,"$44,016",15583.95
2,Aitkin,SIDI_ICE,E10,0,MN,1.750000,0,0,0,0,"$44,016",11390.58
3,Alameda,BEV,Electricity,0,CA,2.340349,0,0,0,0,"$101,744",12212.65
4,Alameda,FFV,E85,0,CA,1.960000,0,0,0,0,"$101,744",12212.65
...,...,...,...,...,...,...,...,...,...,...,...,...
1192,Zapata,FFV,E85,0,TX,1.110000,0,0,0,0,"$33,160",19491.96
1193,Zapata,SIDI_ICE,E10,0,TX,1.310000,0,0,0,0,"$33,160",10165.34
1194,Zavala,BEV,Electricity,0,TX,1.685889,0,0,0,0,"$30,076",19491.96
1195,Zavala,FFV,E85,0,TX,1.110000,0,0,0,0,"$30,076",19491.96
1196,Zavala,SIDI_ICE,E10,0,TX,1.310000,0,0,0,0,"$30,076",10165.34

#### Objective Function

In [31]:
# def objective():
#     '''
#     Minimize the total cost per mile driven in all of US (which includes the capital cost and operating cost)
    
#     capital fuel cost + ((cost of fuel per gallon of vehicle)(fuel consumption of vehicle/per mile))*(total miles traveled)
#     Sum this over counties and then over states
#     '''    
#     result = []
#     for i in tqdm(range(n6.shape[0])):
#         result.append((n6['count'][i] * (n6['fuel_consumption'][i] * n6['fuel_cost_per_gal'][i] * n6['annual_miles_driven'][i])))
#     return list(np.add.reduceat(result, np.arange(0, len(result), 3)))
# # for each county
# # for each vehicle type
# # compute capital cost + ((cost of fuel/gallon) * fuel consumption 1/mpg * miles_driven)
# # so this comes out to CC + (CG * CF * miles_driven)
# # cost vector = vehicle type * (CC +(CG * CF * miles_driven))

In [215]:
type(EF_param['CA']['E10'][0])

int

In [218]:
EF_param = {k: f.groupby('fuel_type')['emission_factor'].apply(list).to_dict()
     for k, f in EF.groupby('state')}
FE_param = {k: f.groupby('fuel_type')['fuel_economy'].apply(list).to_dict()
     for k, f in FE.groupby('vehicle_type')}
C_param = {k: f.groupby('fuel_type')['fuel_cost_per_mile'].apply(list).to_dict()
     for k, f in C.groupby('state')}
CC_param = {k: f.groupby('vehicle_type')['cost_minus_rebate'].apply(list).to_dict()
     for k, f in CC.groupby('state')}
CG_param = {k: f.groupby('fuel_type')['fuel_cost_per_gal'].apply(list).to_dict()
     for k, f in CG.groupby('state')}
D_param = 0.25
#come back to W, kind of confusing but in a fun way or do it manually
#come back to TM, seems incomplete - or may need to use n6
CF_param = {k: f.groupby('fuel_type')['fuel_economy'].apply(list).to_dict()
     for k, f in CF.groupby('vehicle_type')}
CF_param

{'BEV': {'Electricity': [0.009167863554173324]},
 'FFV': {'E85': [0.024691358024691357]},
 'SIDI_ICE': {'E10': [0.02498750624687656]}}

In [241]:
W

  state  total_ghg_in_grams
0    CA        3.610000e+14
1    MN        8.930000e+13
2    TX        6.540000e+14

In [193]:
#decision variables
#n (v, f, r) 
#Projected number of vehicles of vehicle type v using fuel type f that should be in county r
n = LpVariable.dicts("vehicle_count", (COUNTIES, VEHICLE_TYPES), 0)

In [123]:
#fc(r,v,f) 
#Total fuel consumption by vehicle v using fuel type f in county r
fc = LpVariable.dicts('total_fuel_use',[(r,f) for r in COUNTIES for f in VEHICLE_TYPES], cat = 'Integer')

In [131]:
#oc(r,v,f) 
#Operating cost per mile for vehicle v using fuel type f in county r 
oc = LpVariable.dicts('operating_cost_permile',[(r,f) for r in COUNTIES for f in VEHICLE_TYPES], cat = 'Integer')

In [134]:
#tac(r,v,f) 
#Total annual cost of vehicle v using fuel type f in county r 
tac = LpVariable.dicts('total_annual_cost',[(r,f) for r in COUNTIES for f in VEHICLE_TYPES], cat = 'Integer')

In [135]:
#ce(r,v,f)  
#GHG emission per year of vehicle v using fuel type f in county r
ce = LpVariable.dicts('GHG_emissions_new',[(r,f) for r in COUNTIES for f in VEHICLE_TYPES], cat = "Integer")

In [201]:
#OBJECTIVE FUNCTION: minimise cost, determine car allocation (mixed integer)
# prob += lpSum(CC_param[r][f] * n[(r,f)] for r in COUNTIES for f in VEHICLE_TYPES)

#SET PROBLEM VARIABLE
prob = LpProblem('Biofuels',LpMinimize)

for r in COUNTIES:
    prob += lpSum(CC_param[r][f][0] * n[r][f] for f in VEHICLE_TYPES)

In [203]:
prob.solve()

1

In [206]:
print("The Min Value = ",value(prob.objective))
print(prob)

The Min Value =  0.0
Biofuels:
MINIMIZE
47500*vehicle_count_Zavala_BEV + 36000*vehicle_count_Zavala_FFV + 36000*vehicle_count_Zavala_SIDI_ICE + 0
VARIABLES
vehicle_count_Zavala_BEV Continuous
vehicle_count_Zavala_FFV Continuous
vehicle_count_Zavala_SIDI_ICE Continuous

In [143]:
# for each county
# for each vehicle type
# compute capital cost + ((cost of fuel/gallon) * fuel consumption 1/mpg * miles_driven)
# so this comes out to CC + (CG * CF * miles_driven)
# cost vector = vehicle type * (CC +(CG * CF * miles_driven))
CC_param = {'BEV': [48000], 'FFV': [36000], 'SIDI_ICE': [36000]}

In [217]:
# for r in COUNTIES:
#     for f in VEHICLE_TYPES:
#         print(n[(r,f)])
CC_param = {}

In [220]:
#next steps, develop a simple improvement on this:
#create the CC_param that is county based.

improve = CC.merge(B)
CC_param = {k: f.groupby('vehicle_type')['cost_minus_rebate'].apply(list).to_dict()
     for k, f in improve.groupby('county')}

In [178]:
# for r in COUNTIES:
#     for f in VEHICLE_TYPES:
#         print(CC_param[r][f])
#         print(n[(r,f)])

SyntaxError: unexpected EOF while parsing (<ipython-input-178-3c53df153d01>, line 4)

In [242]:
B.merge(ce)
# for i in STATES:
    # WHATEVER

Empty DataFrame
Columns: [county, state, vehicle_type, fuel_type, emission_per_year]
Index: []

In [239]:
#Constraint 2: Decrease total emissions by D(s) for each state 
def constraint2(ce): 
    withstates = pd.merge(B, ce)
    group_state= withstates.groupby(['state']).sum()
    newgroup_state = group_state.rename({'CA': 0, 'MN': 1, 'TX':2}, axis='index')
    return (1-D) * W['total_ghg_in_grams'] > newgroup_state['emission_per_year']

Empty DataFrame
Columns: [county, vehicle_type, fuel_type, count]
Index: []

- Flesh out the objective function with additional parameters
    - why only 1 county?
    - cost vector = vehicle type * (CC +(CG * CF * miles_driven))
- Develop constraints
- Convert parameters to Basak's simpler instantiation (but check it does what we want)
-

In [246]:
for i in STATES:
    prob += lpSum(variable_ce[r][i] for r in COUNTIES) <= (1-D)*W[i]

In [286]:
# convert b into dictionary where it's state:county as key:value
#for i in STATES: ... where STATES = ['CA','MN','TX']
#B_dict[i] # all of CA's counties ... MN... TX
B_dict = B.to_dict('records')

for i in range(len(COUNTIES)):
    print(B_dict[i]['county'])
    print(B_dict[i]['state'])

Aitkin
MN
Alameda
CA
Alpine
CA
Amador
CA
Anderson
TX
Andrews
TX
Angelina
TX
Anoka
MN
Aransas
TX
Archer
TX
Armstrong
TX
Atascosa
TX
Austin
TX
Bailey
TX
Bandera
TX
Bastrop
TX
Baylor
TX
Becker
MN
Bee
TX
Bell
TX
Beltrami
MN
Benton
MN
Bexar
TX
Big Stone
MN
Blanco
TX
Blue Earth
MN
Borden
TX
Bosque
TX
Bowie
TX
Brazoria
TX
Brazos
TX
Brewster
TX
Briscoe
TX
Brooks
TX
Brown_MN
MN
Brown_TX
TX
Burleson
TX
Burnet
TX
Butte
CA
Calaveras
CA
Caldwell
TX
Calhoun
TX
Callahan
TX
Cameron
TX
Camp
TX
Carlton
MN
Carson
TX
Carver
MN
Cass_MN
MN
Cass_TX
TX
Castro
TX
Chambers
TX
Cherokee
TX
Childress
TX
Chippewa
MN
Chisago
MN
Clay_MN
MN
Clay_TX
TX
Clearwater
MN
Cochran
TX
Coke
TX
Coleman
TX
Collin
TX
Collingsworth
TX
Colorado
TX
Colusa
CA
Comal
TX
Comanche
TX
Concho
TX
Contra Costa
CA
Cook
MN
Cooke
TX
Coryell
TX
Cottle
TX
Cottonwood
MN
Crane
TX
Crockett
TX
Crosby
TX
Crow Wing
MN
Culberson
TX
Dakota
MN
Dallam
TX
Dallas
TX
Dawson
TX
Deaf Smith
TX
Del Norte
CA
Delta
TX
Denton
TX
DeWitt
TX
Dickens
TX
Dimmit
TX
Dodge
MN
Donley
TX
Douglas
MN
Duval
TX
Eastland
TX
Ector
TX
Edwards
TX
El Dorado
CA
El Paso
TX
Ellis
TX
Erath
TX
Falls
TX
Fannin
TX
Faribault
MN
Fayette
TX
Fillmore
MN
Fisher
TX
Floyd
TX
Foard
TX
Fort Bend
TX
Franklin
TX
Freeborn
MN
Freestone
TX
Fresno
CA
Frio
TX
Gaines
TX
Galveston
TX
Garza
TX
Gillespie
TX
Glasscock
TX
Glenn
CA
Goliad
TX
Gonzales
TX
Goodhue
MN
Grant
MN
Gray
TX
Grayson
TX
Gregg
TX
Grimes
TX
Guadalupe
TX
Hale
TX
Hall
TX
Hamilton
TX
Hansford
TX
Hardeman
TX
Hardin
TX
Harris
TX
Harrison
TX
Hartley
TX
Haskell
TX
Hays
TX
Hemphill
TX
Henderson
TX
Hennepin
MN
Hidalgo
TX
Hill
TX
Hockley
TX
Hood
TX
Hopkins
TX
Houston_MN
MN
Houston_TX
TX
Howard
TX
Hubbard
MN
Hudspeth
TX
Humboldt
CA
Hunt
TX
Hutchinson
TX
Imperial
CA
Inyo
CA
Irion
TX
Isanti
MN
Itasca
MN
Jack
TX
Jackson_MN
MN
Jackson_TX
TX
Jasper
TX
Jeff Davis
TX
Jefferson
TX
Jim Hogg
TX
Jim Wells
TX
Johnson
TX
Jones
TX
Kanabec
MN
Kandiyohi
MN
Karnes
TX
Kaufman
TX
Kendall
TX
Kenedy
TX
Kent
TX
Kern
CA
Kerr
TX
Kimble
TX
King
TX
Kings
CA
Kinney
TX
Kittson
MN
Kleberg
TX
Knox
TX
Koochiching
MN
La Salle
TX
Lac qui Parle
MN
Lake_CA
CA
Lake_MN
MN
Lake of the Woods
MN
Lamar
TX
Lamb
TX
Lampasas
TX
Lassen
CA
Lavaca
TX
Le Sueur
MN
Lee
TX
Leon
TX
Liberty
TX
Limestone
TX
Lincoln
MN
Lipscomb
TX
Live Oak
TX
Llano
TX
Los Angeles
CA
Loving
TX
Lubbock
TX
Lynn
TX
Lyon
MN
Madera
CA
Madison
TX
Mahnomen
MN
Marin
CA
Marion
TX
Mariposa
CA
Marshall
MN
Martin_MN
MN
Martin_TX
TX
Mason
TX
Matagorda
TX
Maverick
TX
McCulloch
TX
McLennan
TX
McLeod
MN
McMullen
TX
Medina
TX
Meeker
MN
Menard
TX
Mendocino
CA
Merced
CA
Midland
TX
Milam
TX
Mille Lacs
MN
Mills
TX
Mitchell
TX
Modoc
CA
Mono
CA
Montague
TX
Monterey
CA
Montgomery
TX
Moore
TX
Morris
TX
Morrison
MN
Motley
TX
Mower
MN
Murray
MN
Nacogdoches
TX
Napa
CA
Navarro
TX
Nevada
CA
Newton
TX
Nicollet
MN
Nobles
MN
Nolan
TX
Norman
MN
Nueces
TX
Ochiltree
TX
Oldham
TX
Olmsted
MN
Orange_CA
CA
Orange_TX
TX
Otter Tail
MN
Palo Pinto
TX
Panola
TX
Parker
TX
Parmer
TX
Pecos
TX
Pennington
MN
Pine
MN
Pipestone
MN
Placer
CA
Plumas
CA
Polk_MN
MN
Polk_TX
TX
Pope
MN
Potter
TX
Presidio
TX
Rains
TX
Ramsey
MN
Randall
TX
Reagan
TX
Real
TX
Red Lake
MN
Red River
TX
Redwood
MN
Reeves
TX
Refugio
TX
Renville
MN
Rice
MN
Riverside
CA
Roberts
TX
Robertson
TX
Rock
MN
Rockwall
TX
Roseau
MN
Runnels
TX
Rusk
TX
Sabine
TX
Sacramento
CA
San Augustine
TX
San Benito
CA
San Bernardino
CA
San Diego
CA
San Francisco
CA
San Jacinto
TX
San Joaquin
CA
San Luis Obispo
CA
San Mateo
CA
San Patricio
TX
San Saba
TX
Santa Barbara
CA
Santa Clara
CA
Santa Cruz
CA
Schleicher
TX
Scott
MN
Scurry
TX
Shackelford
TX
Shasta
CA
Shelby
TX
Sherburne
MN
Sherman
TX
Sibley
MN
Sierra
CA
Siskiyou
CA
Smith
TX
Solano
CA
Somervell
TX
Sonoma
CA
St. Louis
MN
Stanislaus
CA
Starr
TX
Stearns
MN
Steele
MN
Stephens
TX
Sterling
TX
Stevens
MN
Stonewall
TX
Sutter
CA
Sutton
TX
Swift
MN
Swisher
TX
Tarrant
TX
Taylor
TX
Tehama
CA
Terrell
TX
Terry
TX
Throckmorton
TX
Titus
TX
Todd
MN
Tom Green
TX
Traverse
MN
Travis
TX
Trinity_CA
CA
Trinity_TX
TX
Tulare
CA
Tuolumne
CA
Tyler
TX
Upshur
TX
Upton
TX
Uvalde
TX
Val Verde
TX
Van Zandt
TX
Ventura
CA
Victoria
TX
Wabasha
MN
Wadena
MN
Walker
TX
Waller
TX
Ward
TX
Waseca
MN
Washington_MN
MN
Washington_TX
TX
Watonwan
MN
Webb
TX
Wharton
TX
Wheeler
TX
Wichita
TX
Wilbarger
TX
Wilkin
MN
Willacy
TX
Williamson
TX
Wilson
TX
Winkler
TX
Winona
MN
Wise
TX
Wood
TX
Wright
MN
Yellow Medicine
MN
Yoakum
TX
Yolo
CA
Young
TX
Yuba
CA
Zapata
TX
Zavala
TX

In [283]:
# {'Alameda':'CA', 'Aitkin':'CA',....}



# B_dict

# for i in COUNTIES:
#     print(B_dict[i])

ce

Empty DataFrame
Columns: [county, vehicle_type, fuel_type, emission_per_year]
Index: []