### IEMS 394

Objective: Load pickled data and deploy AMPL model.

<img src="proposal.png" alt="drawing" heigh="500" width="600"/>

In [12]:
import geopandas as gp
from itertools import product
import numpy as np
import pandas as pd
from scipy.optimize import minimize
from tqdm import tqdm

In [ ]:
def objective(x):
    x1 = x[0] #variables
    x2 = x[1] #variables
    x3 = x[2]
    x4 = x[3]
    return x1*x4*(x1+x2+x3)+x3

$s.t. x_1x_2x_3x_4 \geq 25$

In [ ]:
def constraint1(x):
    return x[0]*x[1]*x[2]*x[3] - 25.0

$x_1^2 + x_2^2 + x_3^2 + x_4^2 = 40$

In [ ]:
def constraint2(x):
    sum_sq = 40
    for i in range(4):
        sum_sq = sum_sq - x[i]**2
    return sum_sq

In [ ]:
x0 = [1,5,20,1]
print(objective(x0))

Set up bounds...

In [ ]:
b = (0.3,8.0)
bounds = (b,b,b,b)
con1 = {'type': 'ineq', 'fun': constraint1}
con2 = {'type': 'ineq', 'fun': constraint2}
cons = [con1, con2]

In [ ]:
sol = minimize(objective, x0, method = 'SLSQP',bounds = bounds, constraints = cons)
print(sol)

In [ ]:
print(sol.fun,sol.x)

modelling frameworks:
- SciPy
- PyOMO
- PuLP

solvers:
- COIN
- CPLEX
- GUROBI
- Revised simplex model
- Interior Point methods
- GLPK (GNU for Programming Kit)

Pulp first attempt:

In [ ]:
!pip install pulp

In [ ]:
#SETS
CUSTOMERS = [1,2,3,4,5]
FACILITY = ['FAC 1', 'FAC 2', 'FAC 3']

#PARAMETERS
demand = {1: 80,
         2: 270,
         3: 250,
         4: 160,
         5: 180}

activation_cost = {'FAC 1': 1000,
                  'FAC 2': 1000,
                  'FAC 3': 1000}

max_amp = {'FAC 1': 500,
          'FAC 2': 500,
          'FAC 3': 500}

transportation = {'FAC 1':{1:4, 2:5, 3:6, 4:8, 5:10},
                 'FAC 2': {1:6, 2:4, 3:3, 4:5, 5:8},
                 'FAC 3': {1:9,, 2:7, 3:4, 4:3, 5:4}}

#SET PROBLEM VARIABLE
prob = LpProblem('FacilityLocation',LpMinimize)

#DECISION VARIABLES
serv_vars = LpVariable.dicts('Service',[(i,j) for i in CUSTOMERS for j in FACILITY],0)
use_vars = LpVariable.dicts('UseLocation', FACILITY, 0,1, LpBinary)

#OBJECTIVE FUNCTION: minimise cost, determine facilities (mixed integer)
prob += lpSum(actcost[j]*use_vars[j] for j in FACILITY) \
        + lpSum(transportation[j][i] * serv_vars[(i,j)] for j in FACILITY for i in CUSTOMERS)

for i in CUSTOMERS:
    prob += lpSum(serv_vars[(i,j)] for j in FACILITY) == demand[i]

In [2]:
from pulp import *
PRODUCTS = ['P','Q','R']
MACHINES = ['A','B','C','D']

profit = {'P':45,
         'Q':60,
         'R':50}
time = {'P':{'A':20,'B':12,'C':15,'D':10},
       'Q':{'A':10,'B':28,'C':6,'D':15},
       'R':{'A':10,'B':16,'C':16,'D':0}}

market = {'P':100,
         'Q':40,
         'R':60}

prob = LpProblem('Manufacturing',LpMaximize)
unit_variables = LpVariable.dicts('Units',PRODUCTS,0)

prob += lpSum(profit[j] * unit_variables[j] for j in PRODUCTS)

for i in MACHINES:
    prob += lpSum(unit_variables[j] *  time[j][i] for j in PRODUCTS) <= 2400
    
for j in PRODUCTS:
    prob += unit_variables[j] <= market[j]

prob.solve()


for v in prob.variables():
    print(v.name, '=',v.varValue)
    
print("Total Profit:",value(prob.objective)-6000)

Units_P = 81.818182
Units_Q = 16.363636
Units_R = 60.0
Total Profit: 1663.6363499999998

Ok so making parallelst our project, we can import all the sets here

In [3]:
import pandas as pd

V = pd.read_csv('https://raw.githubusercontent.com/saif1457/iems394/master/data/V.csv') #vehicle types
F = pd.read_csv('https://raw.githubusercontent.com/saif1457/iems394/master/data/F.csv') #fuel types
E = pd.read_csv('https://raw.githubusercontent.com/saif1457/iems394/master/data/E.csv') #driving env
R = pd.read_csv('https://raw.githubusercontent.com/saif1457/iems394/master/data/R.csv') #counties
M = pd.read_csv('https://raw.githubusercontent.com/saif1457/iems394/master/data/M.csv') #charging stations
S = pd.read_csv('https://raw.githubusercontent.com/saif1457/iems394/master/data/S.csv') #states

F['fuel_type'] = F['fuel_type'].apply(lambda x: x.replace('electricity','Electricity'))

In [4]:
VEHICLE_TYPES = list(V['vehicle_type'])
FUEL_TYPES = list(F['fuel_type'])
DRIVING_ENV = list(E['driving_environment'])
COUNTIES = list(R['county'])
CHARGING_STATIONS = list(M['filling_stations'])
STATES = list(S['state'])

In [5]:
%%time
#EF(f,s): Emission factor for fuel type f in state s, in gallons/mile  
EF = pd.read_csv('https://raw.githubusercontent.com/saif1457/iems394/master/data/EF(f%2Cs).csv')
#FE(v,f):Average fuel economy for vehicle type v using fuel f
FE = pd.read_csv('https://raw.githubusercontent.com/saif1457/iems394/master/data/FE(v%2Cf).csv')
#C(f): Cost of fuel type f 
C = pd.read_csv('https://raw.githubusercontent.com/saif1457/iems394/master/data/C(F).csv')
#CC (v,s): Capital cost of vehicle type v in state s
CC = pd.read_csv('https://raw.githubusercontent.com/saif1457/iems394/master/data/CC(v%2Cs).csv') 
#CG: cost of fuel/gallon
CG = pd.read_csv('https://raw.githubusercontent.com/saif1457/iems394/master/data/CG(F).csv')
CG['fuel_type'] = CG['fuel_type'].apply(lambda x: x.replace('electricity','Electricity'))
#D: Emission decrease goals per year
D = 0.25
#W(s):Current yearly GHG emissions per state
W = pd.read_csv('https://raw.githubusercontent.com/saif1457/iems394/master/data/W(s).csv')
#TM (v, f, r): Total miles for vehicle v using fuel f in county r
TM = pd.read_csv('https://raw.githubusercontent.com/saif1457/iems394/master/data/TM(f%2Cs).csv')
# # TM.drop(['household_income_ID'],axis=1,inplace=True)
#N(r): Average income per county  
N = pd.read_csv('https://raw.githubusercontent.com/saif1457/iems394/master/data/N(r).csv')
# N.drop(['household_income_ID'],axis=1,inplace=True)
#B(r) county + state linking table
B = pd.read_csv('https://raw.githubusercontent.com/saif1457/iems394/master/data/B(r).csv')
#CF(v,f): Fuel consumption for vehicle type v using fuel f (1/fuel economy)
CF = FE
CF['fuel_economy'] = (1 / CF['fuel_economy'])

CPU times: user 343 ms, sys: 133 ms, total: 475 ms
Wall time: 2.52 s

In [6]:

profit = {'P':45,
         'Q':60,
         'R':50}
time = {'P':{'A':20,'B':12,'C':15,'D':10},
       'Q':{'A':10,'B':28,'C':6,'D':15},
       'R':{'A':10,'B':16,'C':16,'D':0}}

market = {'P':100,
         'Q':40,
         'R':60}

In [31]:
df = pd.DataFrame([
           ['A', 123, 1], 
           ['B', 345, 5], 
           ['C', 712, 4],
           ['B', 768, 2], 
           ['B', 768, 3], 
           ['A', 123, 9], 
           ['C', 178, 6], 
           ['C', 178, 5],  
           ['A', 321, 3]], 
           columns=['maingroup', 'subgroup', 'selectedCol'])
df

  maingroup  subgroup  selectedCol
0         A       123            1
1         B       345            5
2         C       712            4
3         B       768            2
4         B       768            3
5         A       123            9
6         C       178            6
7         C       178            5
8         A       321            3

In [33]:
d = {k: f.groupby('subgroup')['selectedCol'].apply(list).to_dict()
     for k, f in df.groupby('maingroup')}

In [34]:
d

{'A': {123: [1, 9], 321: [3]},
 'B': {345: [5], 768: [2, 3]},
 'C': {178: [6, 5], 712: [4]}}

In [26]:
EF.set_index('state').apply(lambda x: x.to_dict())

fuel_type          {'MN': 'electricity', 'CA': 'electricity', 'TX...
emission_factor                    {'MN': 209, 'CA': 120, 'TX': 189}
dtype: object

In [35]:
# EF.set_index('state').to_dict('list')
EF

  state    fuel_type  emission_factor
0    MN          E10              415
1    MN          E85              293
2    MN  electricity              209
3    CA          E10              410
4    CA          E85              282
5    CA  electricity              120
6    TX          E10              414
7    TX          E85              291
8    TX  electricity              189

In [23]:
d = {k: f.groupby('subgroup')['selectedCol'].apply(list).to_dict()
     for k, f in EF.groupby('maingroup')}

In [13]:
def variable_ce():
    '''
    ce(r,v,f)  GHG emission per year of vehicle v using fuel type f in county r 
    '''
    ce = pd.DataFrame(list(product(r,v,f)), columns=['county', 'vehicle_type','fuel_type'])
    ce['emission_per_year'] = 0
    
    bev_elec = ce[(ce['vehicle_type']== 'BEV') & (ce['fuel_type']== 'Electricity')]
    gas_e10 = ce[(ce['vehicle_type']== 'SIDI_ICE') & (ce['fuel_type']== 'E10')]
    ffv_e85 = ce[(ce['vehicle_type']== 'FFV') & (ce['fuel_type']== 'E85')]

    result = pd.concat([bev_elec,gas_e10,ffv_e85])
    result.sort_values(by=['county'],inplace=True)
    result.reset_index(drop=True, inplace=True)
    return result

In [14]:
ce = variable_ce()

NameError: name 'r' is not defined

In [ ]:
constraint2(ce)

In [ ]:
FE.groupby('vehicle_type')[['fuel_type','fuel_economy']].apply(lambda x: x.set_index('fuel_type').to_dict(orient='index')).to_dict

In [ ]:
FE.to_dict()

In [ ]:
FE = {'BEV':{'electricity':0.009168},
'SIDI_ICE': {'E10':0.024988},
'FFV':{'E85':0.024691}}

In [ ]:
for i in FE:
    print(FE[j][i]) for j in FE